@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&family=Nunito:wght@200&display=swap');



*{
    padding: 0;
    margin: 0;
    line-height: 5vh;
    font-family: 'Nunito', sans-serif;

}
header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.922045) 15.5%, rgba(54, 54, 54, 0.5),
                rgba(28, 28, 28, 0.4)),
               url(image/fdecran.jpg) center center / cover no-repeat;
 
    height: 90vh;
    margin: 0%;
    padding: 0%;
    width: 100%;


}
header nav{

    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    padding: 0 auto;
    margin-top: 0%;
    margin: 0 auto;
    margin-top: 22px;
    position: absolute;
    width: 100%;
    
 
}


.liste ul {
    display: flex;
    flex-direction: row;
}
.liste ul li{
    list-style: none;
}
.liste ul li a{
    list-style: none;
    color: white;
    justify-content: space-around;
    padding: 20px;
    font-size:20px;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
}
.liste ul li a:hover{
    color: #5a3a22;
}

.logo img{
    width: 40px; 
    height: 40px;
    border-radius: 5px;
}
#presentation{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top: 5%;
}
#presentation .quel h1 {
    color: #5a3a22;
}
#presentation .quel{
    width: 35%;
    font-family: 'Times New Roman', Times, serif;

}
#presentation .imgclou img{
width: 290px;
height: 270px;
border-radius: 5px;
margin: 15%;
}
.pre {
    margin-top: 15%;
}
.service{
    margin-top: 25%;
    color: #5a3a22;
    text-align: center;
    margin-left:115%;
}

#presentation .ensemble{
    display: flex;
    flex-direction: column;
}
#giroflier img{
    height: 400px;
    width: 100%;
    margin: 0%;
}

#produit .produit-0{
    display: flex;
    flex-direction: row;
    padding: 40px ;
    justify-content: space-around;
    text-align: center;
}
#produit .produit-1{
    display: flex;
    flex-direction: column;
}
.prix h2{
    color: #5a3a22;
    margin-top: 10%;
}
.produit-1 img{
    border-radius: 5px;
}

.p{
    margin-top: 10%;
}


#utilite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#utilite .caractere .tere{
    text-align: center;
    width: 50%;
    margin: 0  auto;
    margin-top: 4%;
}
h1{
    color: #5a3a22;
}

.utili{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    margin: 4% auto;
}
.chv{
    margin-right: 5%;
    text-align: justify;
}
#exple{
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.922045) 15.5%, rgba(54, 54, 54, 0.5),
                rgba(28, 28, 28, 0.4)),
                url(image/n.jpg) center center / cover no-repeat;
    padding: 7%;
    
}
#exple .exp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.exp img{
width: 370px;
height: 240px;
border-radius: 5px;
margin-left: 5%;
margin-right: 2%;
margin-top: 5%;
}
.part{
    display: flex;
    flex-direction: column;

}
.part h1{
    margin-left: 10%;
    margin-right: 10%;
    color: aliceblue;
}
h2{
    padding-top: 2%;
}